In [4]:
y = True
Type(y)

NameError: name 'Type' is not defined

##### python is care-sensitive

In [8]:
y = "True"
type(y)

str

In [10]:
x=10
y=2
print (x/y)
type (x/y)

5.0

float

##### Implict conversion where python converts the value type.

In [14]:
x=10
y= "ds"
(x/y)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [17]:
x= "da"
y= "ds"
x+y
type (x+y)

str

In [19]:
x= 9
y= "10"
x+int(y)

19

###### 
int -> float 
int -> str 
float -> str
float -> int
str -> int
str -> float

In [21]:
x = 10
float (x)

10.0

In [25]:
x = 10
int(x
)
type (x)

int

In [32]:
x = 2.3
int(x)

2

In [33]:
x = 2.3
str(x)

'2.3'

In [36]:
x = "ds"
int(x)

ValueError: invalid literal for int() with base 10: 'ds'